{
  "extends": ["airbnb", "airbnb/hooks"],
  "globals": {
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "beforeEach": true
  },
  "rules": {
    "linebreak-style": "off",
    "global-require": "off",
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
